@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: black;
    margin: 0%;
}
.contenedor {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.header {
    background: #2b2a2a;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
    .header a {
        color: white;
        text-decoration: none;
    }
.logo-nav-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu-icon {
    display: none;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
        }
            .navigation ul li a:hover {
                color: #c40404;
                transition: 0.4s;
            }
}
.main {
    padding-top: 10rem;
}
.footer {
    background: #242424; 
    padding: 4rem 0;
    text-align: center;
} 
/*----------------------Estilos de Banner ----------------------------------*/
.banner {
    margin-top: 200px;
    margin-bottom: 100px;
    width: 800px;
    display: block;
    background: black;
}
}
.banner__txt {
    letter-spacing: 200px;
    color: white;
    background: black;
}
#contenedor18 ul {
    list-style: none;
    left: -55px;
}
#contenedor18 li {
    color: white;
    display: inline;
    padding-left: 30px;
    padding-right: 60px;
}
/*--------------------Estilos de Info-------------------------------------*/
.contenedor2 {
    padding-top: 100%;
    width: 1280px;
    margin: 70px auto 0;
    text-align: center;
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor2 .box {
    position: relative;
    width: 300px;
    height: 300px;
    background: #494949;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block; 
}
.contenedor2 .box .imgbox {
    position: relative;
    overflow: hidden;
}
.contenedor2 .box .imgbox img {
    max-width: 100%;
    transition: transform 2s;
}
.contenedor2 .box:hover .imgbox img {
    transform: scale(1.2);
}
.contenedor2 .box .details {
    position: absolute;
    bottom: 0%;
    top: 0%;
    right: 0%;
    left: 0%;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
}
.contenedor2 .box:hover .details {
    transform: scaleY(1);
}
.contenedor2 .box .details .table {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 80px;
    color: #fff;
}
.contenedor2 .box .details .table1 {
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    text-align: center;
    padding: 80px;
    color: #fff;
}
.contenedor2 .box .details .table td {
    margin: 0;
    padding: 0;
}
.section__titulo {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}
/*------------------------------------------------------------Contacto----------------------------------------*/


@media only screen and (max-width: 767px) {
.menu-icon {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
}
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
        .navigation ul{
            display: none;
        }
        .navigation ul.show{
            display: block;
        }
        .navigation ul li {
            display: block;
        }
            .navigation ul li a {
                display: block;
                padding: 0.5rem 0;
            }
                .navigation ul li a:hover {
                    color: #c40404;
                    transition: 0.4s;
}